<div id="coreui-form-<%= id %>" class="coreui-form__group_container mb-3">
    <div class="coreui-form__group_label pe-2">
        <h6 class="coreui-form__field_label_text col-form-label">
            <%- group.label %>
            <% if (group.showCollapsible) { %>
                <button type="button" class="btn btn-link btn-collapsible text-dark">
                    <% if ( ! group.show) { %>
                    <i class="bi bi-chevron-right"></i>
                    <% } else { %>
                    <i class="bi bi-chevron-down"></i>
                    <% } %>
                </button>
            <% } %>
        </h6>
    </div>
    <div class="coreui-form__group_content"<% if ( ! group.show) { %> style="display:none"<% } %>></div>
</div>