<div id="coreui-form-<%= id %>" class="coreui-form__field_container d-flex flex-column flex-md-row mb-3<% if ( ! field.show) { %> d-none<% } %>">
    <% if (field.labelWidth !== 0 && field.labelWidth !== '0px') { %>
    <div class="coreui-form__field_label text-md-end text-sm-start pe-2"<% if (field.labelWidth) { %> style="min-width:<%= field.labelWidth %>;width:<%= field.labelWidth %>"<% } %>>
        <div class="coreui-form__field_label_content col-form-label">
            <% if (field.required) { %>
            <span class="coreui-form__field_label_req text-danger">*</span>
            <% } %>
            <% if (field.descriptionHelp) { %>
            <span class="coreui-form__field_label_help text-body-secondary"
                  title="<%- field.descriptionHelp %>" data-bs-toggle="tooltip" data-bs-placement="bottom">
                <i class="bi bi-question-circle"></i>
            </span>
            <% } %>
            <span class="coreui-form__field_label_text fw-medium"><%- field.label %></span>
        </div>

        <% if (field.description) { %>
        <div class="coreui-form__field_label_description text-muted">
            <small><%- field.description %></small>
        </div>
        <% } %>
    </div>
    <% } %>
    <div class="coreui-form__field_content flex-fill">
        <% if (field.prefix) { %>
        <span class="coreui-form__field-prefix d-inline-block align-top ps-1">
            <%- field.prefix %>
        </span>
        <% } %>

        <div class="d-inline-block content-<%= contentId %>"></div>

        <% if (field.suffix) { %>
        <span class="coreui-form__field-suffix d-inline-block align-top ps-1">
            <%- field.suffix %>
        </span>
        <% } %>

        <% if (issetAttachFields) { %>
            <div class="coreui-form__attach-fields <%= directionClass %>"></div>
        <% } %>
    </div>
</div>