<% if (readonly) { %>
    <div class="coreui-form__field-readonly col-form-label"><%= text %></div>
<% } else { %>
    <div class="input-group"<% if (width) { %> style="width:<%= width %>"<% } %>>
        <input <%- attr %>/>
        <input type="hidden" name="<%= name %>" value="<%= value %>" class="coreui-form-modal-value"/>
        <% if ( ! required) { %>
        <button class="btn btn-outline-secondary btn-modal-clear border-secondary-subtle" type="button">
            <i class="bi bi-x"></i>
        </button>
        <% } %>
        <button class="btn btn-outline-secondary btn-modal-select border-secondary-subtle" type="button"><%= lang.modal_select %></button>
    </div>
<% } %>