<% if (field.readonly) { %>
    <%- value %>
<% } else { %>
    <div class="d-flex gap-1 align-items-center">
        <input <%- render.attr %>/>
        <small class="password-text-repeat"><%= lang.repeat %></small>

        <% if (field.showBtn) { %>
            <div class="input-group flex-nowrap">
                <input <%- render.attr2 %>/>
                <button class="btn btn-sm btn-outline-secondary border-secondary-subtle btn-password-change" type="button"
                        data-change="<%- lang.change %>" data-cancel="<%- lang.cancel %>"><%= btn_text %></button>
            </div>
        <% } else { %>
            <input <%- render.attr2 %>/>
        <% } %>

    </div>
<% } %>