<% if (readonly) { %>
    <div class="coreui-form__field-readonly col-form-label"><%- value %></div>
<% } else { %>
    <div class="d-flex gap-1 align-items-center">
        <input <%- attr %>/>

        <% if (showBtn) { %>
            <div class="input-group flex-nowrap">
                <input <%- attr2 %>/>
                <button class="btn btn-outline-secondary border-secondary-subtle btn-password-change" type="button"
                        data-change="<%- lang.change %>" data-cancel="<%- lang.cancel %>"><%= btn_text %></button>
            </div>
        <% } else { %>
            <input <%- attr2 %>/>
        <% } %>
    </div>
<% } %>